# java files
*.settings/*
*.class*
*.project

# Package Files #
#*.jar
#*.war
#*.ear

# idea files
/application/out/*
/application/.idea/*
/application/*.iml

# tex files
/diploma/*.tex.bak
/diploma/build/*
