/WebContent/page/.idea/copyright/profiles_settings.xml
/WebContent/page/.idea/scopes/scope_settings.xml
/WebContent/page/Page.iml
/WebContent/.idea/*
/WebContent/page/.idea/*

# java files
*.settings/*
*.class*
*.project

# Package Files #
*.jar
*.war
*.ear

# idea files
/nbproject/private/
/build/