<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="majekWMSFactory">
		<!-- some options -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">12345</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/majekwms</property>
		<property name="hibernate.connection.username">majekWMS</property>
		<property name="hibernate.default_schema">majekwms</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.dialect.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		
		<property name="hibernate.generate_statistics">true</property>
		
		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>

		<!-- mapping -->
		<!-- basic -->
		<mapping class="wms.model.BasicPersistanceObject"/>
		<mapping class="wms.model.PersistenceObject" />
		<mapping class="wms.model.NamedPersistenceObject" />

		<mapping class="wms.model.Company"/>

		<!-- client -->
		<mapping class="wms.model.City" />
		<mapping class="wms.model.Address" />
		<mapping class="wms.model.ClientDetails" />
		<mapping class="wms.model.ClientType" />
		<mapping class="wms.model.Client" />
		<mapping class="wms.model.Supplier" />
		<mapping class="wms.model.Recipient" />

		<!-- invoice -->
		<mapping class="wms.model.Invoice" />
		<mapping class="wms.model.InvoiceProduct" />
		<mapping class="wms.model.InvoiceProductId" />
		<mapping class="wms.model.InvoiceType" />
		<mapping class="wms.model.Receipt" />
		<mapping class="wms.model.Return" />
		<mapping class="wms.model.Supply" />

		<!-- product -->
		<mapping class="wms.model.Product" />
		<mapping class="wms.model.Measure" />

		<!-- unit -->
		<mapping class="wms.model.Unit" />
		<mapping class="wms.model.UnitType" />

		<mapping class="wms.model.Warehouse" />
		<mapping class="wms.model.User" />

		<!-- events -->
		<event type="auto-flush" />
	</session-factory>
</hibernate-configuration>
