<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <display-name>MajekWMS</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <description>This application comes with simulator that shows WMS capabilities to support inventory management in
        warehouses.
    </description>
    <context-param>
        <description>The EMAIL address of the administrator to whom questions
            and comments about this application should be addressed.
        </description>
        <param-name>webmaster</param-name>
        <param-value>kornicameister@gmail.com</param-value>
    </context-param>

    <!-- servlet -->
    <servlet>
        <description>Middle man</description>
        <display-name>WMSDataAgent</display-name>
        <servlet-name>WMSDataAgent</servlet-name>
        <servlet-class>wms.servlet.WMSDataAgent</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>wms.servlet.WMSLog4JInit</servlet-class>
        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>/WEB-INF/classes/wms/resources/log4j.properties</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <description>Page controller</description>
        <display-name>WMSController</display-name>
        <servlet-name>WMSController</servlet-name>
        <servlet-class>wms.servlet.WMSController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <description>Authorization agent</description>
        <display-name>WMSAuthAgent</display-name>
        <servlet-name>WMSAuthAgent</servlet-name>
        <servlet-class>wms.servlet.WMSAuthAgent</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- mappings -->
    <servlet-mapping>
        <servlet-name>WMSDataAgent</servlet-name>
        <url-pattern>/MajekWMS/wms/agent/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WMSController</servlet-name>
        <url-pattern>/MajekWMS/wms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WMSAuthAgent</servlet-name>
        <url-pattern>/MajekWMS/wms/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log4j-init</servlet-name>
        <url-pattern>/MajekWMS/log4j/init</url-pattern>
    </servlet-mapping>
</web-app>
