<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="majekWMSFactory">
		<!-- some options -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">12345</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/majekwms</property>
		<property name="hibernate.connection.username">majekWMS</property>
		<property name="hibernate.default_schema">majekwms</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.dialect.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>

		<!-- mapping -->
		<!-- basic -->
		<mapping class="wms.model.basic.PersistenceObject" />
		<mapping class="wms.model.basic.NamedPersistenceObject" />
		
		<!-- client -->
		<mapping class="wms.model.client.City" />
		<mapping class="wms.model.client.Address" />
		<mapping class="wms.model.client.ClientDetails" />
		<mapping class="wms.model.client.ClientType" />
		<mapping class="wms.model.client.Client" />
		<mapping class="wms.model.client.Supplier" />
		<mapping class="wms.model.client.Recipient" />
		
		<!-- invoice -->
		<mapping class="wms.model.invoice.Invoice" />
		<mapping class="wms.model.invoice.InvoiceProduct" />
		<mapping class="wms.model.invoice.InvoiceProductId" />
		<mapping class="wms.model.invoice.InvoiceType" />
		<mapping class="wms.model.invoice.type.Receipt" />
		<mapping class="wms.model.invoice.type.Return" />
		<mapping class="wms.model.invoice.type.Supply" />
		
		<!-- product -->
		<mapping class="wms.model.product.Product" />
		<mapping class="wms.model.product.Measure" />
		
		<!-- unit -->
		<mapping class="wms.model.unit.Unit" />
		<mapping class="wms.model.unit.UnitType" />
		
		<mapping class="wms.model.Warehouse" />
		<mapping class="wms.model.User" />

		<!-- events -->
		<event type="auto-flush" />
	</session-factory>
</hibernate-configuration>
